@charset "utf-8";
/* CSS Document */
body,div,ul,ol,li,dl,dt,dd,form,table,tr,th,td,h1,h2,h3,h4,h5,h6,p,input,fieldset,legend{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
html,body{
  height: 100%;
}
